[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2 = "==2.8.4"
psycopg2-binary = "*"
flask-sqlalchemy = "===2.4.1"
gunicorn = "*"
flask-script = "*"
flask-migrate = "==2.5.2"
flask-login = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.8"
